<div class="toolbar">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (input)="applyFilter($event)">
  </mat-form-field>
  
  <button *ngIf="!currentViewName" mat-button (click)="saveView()">Save View</button>
  <button *ngIf="currentViewName" mat-button (click)="updateView()" [disabled]="!isViewChanged">Update View</button>
  
  <mat-form-field>
    <mat-select placeholder="Load View" (selectionChange)="loadView($event.value)">
      <mat-option *ngFor="let view of savedViews" [value]="view">
        {{view}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Select Columns" multiple [(value)]="displayedColumns" (selectionChange)="isViewChanged = true">
      <mat-option *ngFor="let column of allColumns" [value]="column">
        {{column}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>

<div class="records-info">
  Total Records: {{ totalRecords }}
</div>
